<!-- <table class="slider">
  <tr>
    {{#each sliderValues as |value|}}
      <td class={{if value.active "slider-value active" "slider-value"}} {{action 'changedSelection' value}}>
        <span>${{value.amount}}</span>
      </td>
      <td class="spacer"></td>
    {{/each}}
  </tr>
</table> -->
<table class="slider">
  <tr class="slider-row">
    {{#each sliderValues as |value|}}
      <th class={{if value.active "slider-value active" "slider-value"}} {{action 'changedSelection' value}}>
        <span>${{value.amount}}</span>
      </th>
    {{/each}}
  </tr>
</table>
